@import '../../scss/variables';

.featureBox {
  flex: 1;
  background: $dark_blue;
  flex-basis: 100%;
  display: flex;
  justify-content: flex-end;
  color: white;
  padding: 50px 0;

  &.rightBox {
    justify-content: flex-start;
  }
  &.darkBlue {
    background: linear-gradient(45deg, #0e1b26, #1a344d);
  }
  &.lightBlue {
    background: linear-gradient(-45deg, #03325d, #1a344d);
  }

  @media (min-width: $gfb) {
    flex-basis: 50%;
    min-height: 500px;
    padding: 80px 0;
  }
}

.featureBoxContent {
  flex: 1;
  padding: 0 1.0875rem;

  @media (min-width: $gfb) {
    max-width: 540px;
  }
}
