@import '../variables';

.blog_title {
  background: $background;
  display: inline-block;
  padding: 10px 20px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: $main_color;
  z-index: 1;
}

.blog_featureSections {
  display: flex;
  flex-wrap: wrap;
}

.blog_featureSections_block {
  height: 200px;
  flex: 1;
  flex-basis: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  @media(min-width: $gfb) {
    height: 400px;
    flex-basis: 50%;
  }
}

@mixin title {
  margin: 30px;
  font-size: 40px;
  font-weight: bold;
  align-self: end;
  grid-area: 1 / 1 / 2 / 2;
}

.blog_featureSections_devTitle {
  @include title;

  justify-self: end;
}

.blog_featureSections_foodTitle {
  @include title;

  justify-self: start;
}

.blog_featureSections_overlayLink {
  grid-area: 1 / 1 / 2 / 2;
}

.blog_featureSections_overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: $main_color;
  opacity: 0.6;
  z-index: -1;
}

.latestPosts {
  text-align: center;
  margin-bottom: 60px;
}

.pageDescription {
  text-align: center;
  margin: 40px auto 60px;
  max-width: 600px;
  font-style: italic;
}
