@import '../variables';

.headerBackground {
  padding: 200px 0 100px;
  margin-bottom: 50px;
  position: relative;

  @media (min-width: 758px) {
    padding: 150px 0;
  }
}

.headerBackgroundImage {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.headerContainer {
  display: grid;
  color: #fff;
  align-items: center;

  @media (min-width: 758px) {
    grid-template-columns: 1fr auto;
  }
}

.downloadButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  color: $main_color;
  font-weight: bold;
  right: 0;
  margin-top: 40px;

  &:disabled {
    color: rgba($main_color, 0.4);
  }

  @media (min-width: 758px) {
    position: absolute;
    bottom: -160px;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);
    margin-right: 1.0875rem;
  }

  @media print {
    display: none;
  }
}

.headerNameContainer {
  display: flex;
  align-items: center;
}

.headerImage {
  margin-right: 20px;
  height: 100px;

  @media (min-width: 500px) {
    height: 150px;
  }
}

.headerName {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0;
}

.headerTitle {
  font-size: 0.5em;
  font-weight: lighter;
  display: block;
  margin-top: 5px;
}

.contactInfo {
  text-align: left;
  margin-bottom: 0;
  font-style: normal;
  font-weight: 500;
  margin-top: 50px;

  @media (min-width: 758px) {
    text-align: right;
    margin-top: 0;
  }

  a {
    color: #fff;
  }
}

.section {
  border-bottom: 1px solid #ccc;
  margin-bottom: 30px;
  padding-bottom: 10px;
}

.skillGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 15px;
  margin-bottom: 20px;

  @media (min-width: 840px) {
    grid-template-columns: repeat(6, 1fr);
  }
}

.expereienceItem {
  margin-bottom: 2.5rem;

  h4 {
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
    font-weight: bold;
  }

  em {
    font-weight: 500;
    font-size: 0.9rem;
  }
}

.sideProjectsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-gap: 30px;
  padding-bottom: 20px;
}

.sideProject {
  padding: 10px;
  background: #fff;
  border-radius: 2px;
}

// Loading
.loadingSpinner {
  margin-left: 15px;
  width: 20px;
  height: 20px;
  display: inline-grid;
  grid-gap: 2px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  transform: rotate(45deg);
  animation: spin 2s infinite;
}
.loadingBox {
  opacity: 0.3;
  background-color: $main_color;
}

.loadingBox:nth-of-type(4n + 1) {
  opacity: 1;
  animation: opacity 2s infinite;
}

@keyframes spin {
  0% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(135deg);
  }
}

@keyframes opacity {
  0% {
    opacity: 0.3;
  }
  40% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}
