.headerBackground {
  padding: 200px 0 100px;
  margin-bottom: 50px;

  @media (min-width: 758px) {
    padding: 150px 0;
  }
}

.headerContainer {
  display: grid;
  color: #fff;
  align-items: center;

  @media (min-width: 758px) {
    grid-template-columns: 1fr auto;
  }
}

.headerNameContainer {
  display: flex;
  align-items: center;
}

.headerImage {
  margin-right: 20px;
}

.headerName {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0;
}

.headerTitle {
  font-size: 0.5em;
  font-weight: lighter;
  display: block;
  margin-top: 5px;
}

.contactInfo {
  text-align: left;
  margin-bottom: 0;
  font-style: normal;
  font-weight: 500;
  margin-top: 50px;

  @media (min-width: 758px) {
    text-align: right;
    margin-top: 0;
  }

  a {
    color: #fff;
  }
}

.section {
  border-bottom: 1px solid #ccc;
  margin-bottom: 30px;
  padding-bottom: 10px;
}

.skillGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 15px;
  margin-bottom: 20px;

  @media (min-width: 840px) {
    grid-template-columns: repeat(6, 1fr);
  }
}

.sideProjectsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.sideProject {
  padding: 10px;
  background: #fff;
  border-radius: 2px;
}
