.techLogo {
  display: flex;
  height: 0;
  width: 100%;
  padding-bottom: 100%;
  position: relative;

  img {
    width: 100%;
    position: absolute;
    max-height: 100%;
    top: 50%;
    transform: translateY(-50%);
  }
}
