@import '../../scss/variables';

.techLogo {
  display: flex;
  height: 6rem;
  width: 6rem;
  position: relative;

  img {
    width: 100%;
    position: absolute;
    max-height: 100%;
    top: 50%;
    transform: translateY(-50%);
  }
}

.techContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-bottom: 50px;
}