.text_center {
  text-align: center;
}

.font-default {
  font-family: Montserrat, sans-serif;
}

.font-monad {
  font-family: Monad, Helvetica, Arial, sans-serif;
}

.h1 {
  font-size: 2.5rem;
}

.h2 {

}
