@import 'variables';
@import 'utils';
@import 'typography';
@import 'forms';
@import 'buttons';

@font-face {
  font-family: 'Monad';
  src: url("../../static/fonts/Monad.otf") format('opentype');
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: $link_color;
}

html {
  min-height: 100vh;
}

body {
  min-height: 100vh;
  background-color: $background;
}
